# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured set of data that is organized and stored electronically. It is designed to allow the easy retrieval, manipulation, and management of data in a variety of forms. Databases are commonly used in many applications, including websites, online banking, and customer relationship management (CRM) systems.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems (DBMS) that are used for storing and managing data. Here are the key differences between the two:

Data Model:

SQL databases are based on the relational model and are also known as relational databases. They use tables to store data and have a predefined schema.
NoSQL databases, on the other hand, use various data models such as key-value pairs, documents, column-oriented, and graphs. They are more flexible and can handle unstructured data.

Scalability:

SQL databases are typically scaled vertically, meaning that to handle an increase in workload, you need to upgrade your hardware (e.g., by adding more powerful CPUs, more memory, or faster disk drives).
NoSQL databases are designed to be horizontally scalable, meaning that they can handle increased traffic by adding more servers to the database cluster. This makes them more suitable for large-scale applications with high volumes of data.

ACID Compliance:

SQL databases are usually ACID (Atomicity, Consistency, Isolation, Durability) compliant, ensuring that transactions are processed reliably.
NoSQL databases may not always be fully ACID compliant. They often prioritize availability and partition tolerance (AP) over strict consistency.

Schema:

SQL databases require a predefined schema, which means that the structure of the data needs to be determined before the data is stored.
NoSQL databases are schema-agnostic, meaning that they can handle unstructured data without a predefined schema.

Use Cases:

SQL databases are suitable for applications that require complex queries and transactions, such as banking systems, e-commerce platforms, and ERP systems.NoSQL databases are better suited for applications that require horizontal scalability and handling large volumes of data with varying data structures, such as content management systems, real-time analytics, and IoT (Internet of Things) applications.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL used to define the database structure or schema. It includes commands that can be used to define, modify, and remove the structure of database objects such as tables, indexes, and views. Some common DDL commands include CREATE, DROP, ALTER, and TRUNCATE.

1)CREATE: This command is used to create a new database, table, view, index, or other database objects. Here's an example of creating a new table named 'Employees' with some basic columns:

In [ ]:
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50),
    Salary DECIMAL(10, 2)
);

2)DROP: This command is used to delete or remove an existing database, table, view, index, or other database objects. For instance, to drop the 'Employees' table created earlier, you would use:

In [ ]:
DROP TABLE Employees;

3)ALTER: This command is used to modify an existing database object, such as adding, deleting, or modifying columns in a table. Here's an example of adding a new column 'Email' to the 'Employees' table:

In [ ]:
ALTER TABLE Employees
ADD Email VARCHAR(100);

4)TRUNCATE: This command is used to delete all the rows from a table while keeping its structure intact. Unlike the DROP command, TRUNCATE is a DDL command that is used for removing all the data from a table without removing the table itself. For instance, to remove all data from the 'Employees' table:

In [ ]:
TRUNCATE TABLE Employees;

These DDL commands are essential for defining and managing the structure of a database, allowing users to create, modify, and remove database objects as necessary to meet the requirements of their applications.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate data within a database. It includes commands that allow users to insert, update, retrieve, and delete data from a database. Some common DML commands include INSERT, UPDATE, and DELETE.

1)INSERT: This command is used to add new rows of data into a table. Here's an example of how to use the INSERT command to add a new record into the 'Employees' table:

In [ ]:
INSERT INTO Employees (EmployeeID, FirstName, LastName, Department, Salary)
VALUES (1, 'John', 'Doe', 'Sales', 50000.00);

2)UPDATE: This command is used to modify existing data within a table. Here's an example of how to use the UPDATE command to change the 'Department' of an employee with 'EmployeeID' 1 from 'Sales' to 'Marketing':

In [ ]:
UPDATE Employees
SET Department = 'Marketing'
WHERE EmployeeID = 1;

3)DELETE: This command is used to remove specific rows from a table based on the specified condition. Here's an example of how to use the DELETE command to remove the employee with 'EmployeeID' 1 from the 'Employees' table:

In [ ]:
DELETE FROM Employees
WHERE EmployeeID = 1;

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. It includes commands that allow users to query and retrieve specific data from one or more tables in a database. The most commonly used DQL command is SELECT.

SELECT: This command is used to retrieve data from a database. It allows you to specify the columns to be retrieved, the table from which to retrieve the data, and any conditions that the retrieved data must satisfy. Here's an example of how to use the SELECT command to retrieve data from the 'Employees' table:

In [ ]:
SELECT * FROM Employees;

This query will retrieve all the data from the 'Employees' table. If you want to retrieve specific columns, you can specify them explicitly:

In [ ]:
SELECT EmployeeID, FirstName, LastName, Department FROM Employees;

You can also use the SELECT command with conditions to retrieve specific data that meets certain criteria. For example, to retrieve employees from the 'Sales' department:

In [ ]:
SELECT * FROM Employees
WHERE Department = 'Sales';

# Q5. Explain Primary Key and Foreign Key.

Primary Key and Foreign Key are two important concepts in the context of relational databases. They are used to establish and manage relationships between different tables in a database.

Primary Key:

A Primary Key is a column or a set of columns that uniquely identifies each row in a table.
It must contain unique values and cannot have NULL values.
Each table can have only one Primary Key.
The Primary Key is used to ensure the integrity of the data and to establish relationships with other tables.
It is often used as a reference point by Foreign Keys in other tables.
Examples of Primary Keys can be employee ID, customer ID, or any unique identifier for a specific entity in a table.

Foreign Key:

A Foreign Key is a column or a set of columns in a table that refers to the Primary Key of another table.
It establishes a link between the data in two tables.
It helps maintain referential integrity, ensuring that the data in the Foreign Key column(s) of one table matches the data in the corresponding Primary Key column(s) of another table.
It can have NULL values, which means that a row in the child table can be without a parent row in the referenced table.
A Foreign Key constraint can be used to enforce referential integrity between the two related tables, preventing actions that would destroy the relationships between them.
Examples of Foreign Keys can be customer ID in an order table that references the customer table, or department ID in an employee table that references the department table.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you can use the mysql-connector-python package. Before running the following code, make sure you have installed the package using pip:

In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.2.0-cp310-cp310-manylinux_2_17_x86_64.whl (31.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 31.6/31.6 MB 42.5 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (4.21.11)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.2.0
Note: you may need to restart the kernel to use updated packages.

Here's an example of how to connect MySQL to Python and use the cursor() and execute() methods:

In [ ]:
import mysql.connector

# Establish a connection to the MySQL database
mydb = mysql.connector.connect(
  host="your_host",
  user="your_username",
  password="your_password",
  database="your_database"
)

# Create a cursor object using the cursor() method
mycursor = mydb.cursor()

# Use the execute() method to execute SQL queries
mycursor.execute("SELECT * FROM your_table")

# Fetch all the rows from the last executed statement
result = mycursor.fetchall()

# Print the fetched result
for row in result:
    print(row)

# Close the cursor and the database connection
mycursor.close()
mydb.close()